@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.education {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.916);
    text-align: center;
    height: auto; // Responziv üçün auto etdik
    padding: 20px 0;
    .headSpan {
        text-shadow: 1px 1px 2px white, 0 0 1em rgb(0, 4, 214), 0 0 0.2em rgba(4, 0, 48, 0.493);
        color: rgb(114, 136, 255);
        font-family: "Nunito", sans-serif;
        font-size: 32px;
        white-space: pre-wrap;
        margin-top: 20px;
        background-color: rgba(255, 0, 0, 0);
    }
    hr {
        width: 70%;
        margin: 10px auto;
    }
    .mainGif {
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
        .gif {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            img {
                width: 100%;
                max-width: 320px;
                height: auto;
                margin-right: 20px;
            }
        }
        .educateSecond {
            width: 60%;
            padding: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            div {
                width: 90%;
                max-width: 600px; // Maksimum genişlik təyin etdik
                border-radius: 10px;
                margin: 20px auto;
                padding: 25px;
                height: auto;
                position: relative;
                font-family: "Nunito", sans-serif;
                color: white;
                position: relative;
                text-align: center;
                font-size: 10px;
                white-space: pre-wrap;
                background: linear-gradient(to bottom, rgb(7, 0, 88), rgb(49, 0, 49));
                transition: transform 0.3s ease;
                .icon {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    font-size: 44px;
                    color: rgb(255, 208, 0);
                    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 238, 0), 0 0 0.2em rgba(48, 40, 0, 0.493);
                }
                span {
                    font-size: 14px;
                    margin: 5px auto;
                    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(214, 200, 0), 0 0 0.2em rgba(48, 40, 0, 0.493);
                    color: rgb(255, 208, 0);
                }
                h4,
                p {
                    margin: 10px auto;
                    text-align: left;
                    padding: 5px;
                    font-size: 24px;
                }
            }
        }
    }
}

.educateSecond>div:hover {
    cursor: pointer;
    transform: perspective(1000px) rotateY(20deg);
}

@media (max-width: 768px) {
    .mainGif {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-self: center;
        .gif {
            img {
                max-width: 100%;
            }
        }
        .educateSecond {
            width: 100%;
            div {
                font-size: 14px;
                width: 100%;
                #icon {
                    font-size: 30px;
                }
                #iconUni {
                    font-size: 30px;
                    // top: 60%;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .headSpan {
        font-size: 24px;
    }
    #second {
        width: 100%;
        #second>div {
            width: 100%;
            font-size: 10px;
            height: auto;
            #icon {
                font-size: 25px;
            }
            #iconUni>i {
                font-size: 100px;
            }
            span {
                font-size: 10px;
            }
        }
    }
}