.projects {
    width: 100%;
    text-align: center;
    background-color: rgb(1, 0, 15);
    height: auto;
    span {
        text-shadow: 1px 1px 2px white, 0 0 1em rgb(199, 0, 199), 0 0 0.2em rgba(48, 0, 48, 0.493);
        color: rgb(189, 148, 255);
        font-family: "Nunito", sans-serif;
        font-size: 40px;
        white-space: pre-wrap;
        margin: auto;
        margin-top: 50px;
    }
    hr {
        width: 70%;
        margin: 10px auto;
    }
}